.options-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 55%;

  background-color: $color-background;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);

  &.hidden {
    display: none;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;

    label {
      width: 30%;
    }

    .options-modal__select {
      width: 70%;
    }
  }

  &__title {
    margin: 0 0 20px;
  }

  &__spacer {
    margin-top: 20px;
  }

  &__file-dialog-button {
    width: 40%;
    margin: 10px 5px 0 0;
    padding: 5px;
    background-color: $color-text;
    color: $color-background;
    border: none;
    cursor: pointer;
  }

  &__file-input-wrapper {
    text-align: left;
    width: 357px;
  }

  &__currently-selected-audio-clip {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.select {
  &__option, &__indicator {
    color: $color-background !important;
    font-size: 14px !important;

    &--is-selected, &:hover {
      background-color: $color-text !important;
    }
  }

  &__indicator-separator {
    background-color: $color-background !important;
  }
}